root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4

[*.{c, h, cpp, hpp}]
trim_trailing_whitespace = true

[*.{py}]
insert_final_newline = true
trim_trailing_whitespace = true

[.vscode/*.json]
indent_style = tab
indent_size = 4

[**/.devcontainer.json]
indent_style = tab
indent_size = 4

[.github/workflows/*.yml]
indent_style = space
indent_size = 2

[*.{md,rst}]
trim_trailing_whitespace = false